#board {
	margin: 30px auto;
	width: 510px;
	height: 510px;
	background-color: #bbada0;
	border-radius: 10px;
}

.cell {
	width: 115px;
	height: 115px;
	float: left;
	text-align: center;
	font-size: 3em;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	border-radius: 10px;
	margin: 5px;
}

.cell p{
	margin-top: 25px;
}

.row:first-child .cell {
	margin-top: 10px;
}

.row:last-child .cell {
	margin-bottom: 10px;
}

.cell:first-child {
	margin-left: 10px;
}

.cell:last-child {
	margin-right: 10px;
}

.cell-0 {
	background-color: #ccc0b3;
}

.cell-2, .cell-4 {
	color: #776e65;
}

.cell-8, .cell-16, .cell-32, .cell-64, .cell--2 {
	color: #f9f6f2;
}

.cell-2 {
	background-color: #eee4da;
}

.cell--2 {
	background-color: #776e65;
}

.cell-4 {
	background-color: #ede0c8;
}

.cell-8 {
	background-color: #f1b179;
}

.cell-16 {
	background-color: #f59563;
}

.cell-32 {
	background-color: #f67b5f;
}

.cell-64 {
	background-color: #f65e3b;
}

.cell-128 {
	background-color: #edcf72;
}

.cell-256 {
	background: #edcc61;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
						inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.cell-512 {
	background-color: #edc850;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683),
						 inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}
