$board-width: 500px;
$gutter: 15px;
$num-cells: 4;
$cell-width: ($board-width - ($gutter * ($num-cells + 1))) / $num-cells;
$text-color: #776e65;

html {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #faf8ef;
  color: $text-color;
}

#board {
	margin: 30px auto;
	width: $board-width;
	height: $board-width;
	background-color: #bbada0;
	border-radius: 10px;
  position: relative;
  z-index: -5;
}

.cell {
  position: absolute;
	width: $cell-width;
	height: $cell-width;
	text-align: center;
	font-size: 55px;
  font-weight: bold;
	border-radius: 5px;
  transition: left .1s ease-in-out, top .1s ease-in-out;
}

.cell p{
	margin-top: 15px;
}

header {
  width: $board-width;
  margin: 30px auto;
}

h1 {
  font-size: 80px;
  display: inline-block;
  margin: 0;
}

#score-wrapper {
  float: right;
  background-color: #bbada0;
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;

  h2 {
    color: #eee4da;
    font-size: 13px;
    margin: 0;
  }

  p {
    color: white;
    font-size: 25px;
    margin: 0;
  }
}

@for $x from 0 through $num-cells - 1 {
  @for $y from 0 through $num-cells - 1 {
    .pos-#{$x}-#{$y} {
      left: (($y + 1) * $gutter) + ($y * $cell-width);
      top: (($x + 1) * $gutter) + ($x * $cell-width);
    }
  }
}


.cell-0 {
	background-color: #ccc0b3;
  z-index: -3;
}

.cell-2, .cell-4 {
	color: #776e65;
}

.cell-8,
.cell-16,
.cell-32,
.cell-64,
.cell--2,
.cell-128,
.cell-256,
.cell-512 {
	color: #f9f6f2;
}

.cell-2 {
	background-color: #eee4da;
}

.cell-4 {
	background-color: #ede0c8;
}

.cell-8 {
	background-color: #f1b179;
}

.cell-16 {
	background-color: #f59563;
}

.cell-32 {
	background-color: #f67b5f;
}

.cell-64 {
	background-color: #f65e3b;
}

.cell-128 {
	background-color: #edcf72;
}

.cell-256 {
	background: #edcc61;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
						inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}

.cell-512 {
	background-color: #edc850;
	box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683),
						 inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}
